* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--020);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: var(--111);
}

input[type=submit] {
    background-color: var(--B50);
    color: var(--111);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--1100);
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus {
    border: 2px solid var(--B50);
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    padding: 40px 10%;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .container {
        padding: 40px 5%;
    }
}
