.theme-switch-wrapper {
  display: inline-block;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 16px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--B30);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--000);
  bottom: 3px;
  content: "";
  height: 16px;
  left: 5px;
  position: absolute;
  transition: .4s;
  width: 50px;
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

input:checked + .slider {
  background-color: var(--B30);
}

input:checked + .slider:before {
  transform: translateX(30px);
}
