.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 180px);
    grid-gap: 1rem;
}

.center {
    padding: 0 10%;
}

/* Gradiënt Styling */

body {
    height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.item {
    background-color: var(--B50);
    background-image: linear-gradient(130deg, var(--030) 0%, var(--020) 50%, var(--010) 100%);
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    color: var(--111);
    border-radius: 3px;
    border: 2px solid var(--000);
}

.wrap {
    padding: 40px 0;
}

@media screen and (max-width:850px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6, 200px);
        grid-gap: 1rem;
    }

    .center {
        padding: 0 5%;
    }

    .item3 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .item6 {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }

    .item9 {
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
}
