p, table {
	/*padding: 10px 10%;*/
}

li {
	text-align: center;
}

/* TABLE STYLING */
table {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid var(--050);
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid var(--050);
    border-bottom: 1px solid var(--050);
    color: var(--090);
}

tr {
    background-color: var(--020);
}

.tablehead {
    background-color: var(--040);
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: var(--030);
}

.roles {
    overflow-x: auto;
}