@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Open+Sans&display=swap');

:root {
    /* Backgrounds & text */
    --100: #EAECEE;
    --200: #CACFD3;
    --300: #ABB2B9;
    --400: #6B7885;
    --500: #2C3E50;
    --600: #283848;
    --700: #1A2530;
    --800: #141C24;
    --900: #0D1318;
    /* HU RED */
    --101: #FDEAEA;
    --201: #F9CBCA;
    --301: #F5ACAA;
    --401: #EE6E6B;
    --501: #E6302B;
    --601: #CF2B27;
    --701: #8A1D1A;
    --801: #681613;
    --901: #450E0D;
    /* HU BLUE */
    --102: #E6F6FC;
    --202: #BFE8F8;
    --302: #99D9F3;
    --402: #4DBDEA;
    --502: #00A1E1;
    --602: #0091CB;
    --702: #006187;
    --802: #004865;
    --902: #003044;
    /* Accent Hues */
    --0: #FFFFFF;
    --1: #1abc9c;
    --2: #2ecc71;
    --3: #3498db;
    --4: #9b59b6;
    --5: #f1c40f;
    --6: #e67e22;
    --7: #e74c3c;
    --8: #c0392b;
    /* Black & White */
    --000: #000000;
    --111: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
}

.title {
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}